.date {
  position: relative;
  top: 70px;
  left: 30%;
}
.input {
  position: relative;
  top: 65px;
  left: 30%;
}
.list {
  position: relative;
  top: 110px;
  width: 700px;
  left: 30%;
}
.input {
  width: 700px;
}
.item {
  font-size: 15px;
}
.delete {
  font-size: 18px;
}
.add {
  position: relative;
  top: 110px;
  width: 700px;
  left: 30%;
}
.login_register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73vh;
  flex-direction: column;

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    gap: 20px;
    align-items: center;
    justify-content: center;

    input {
      padding: none;
      border: none;
      border-bottom: 1px solid gray;
      font-size: 17px;
      width: 300px;
      display: flex;
    }

    button {
      margin-top: 10px;
      padding: 10px;
      cursor: pointer;
      background-color: rgb(224, 138, 33);
      color: white;
      border: none;
      font-size: 16px;
      width: 300px;
    }
  }
}
.link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
.workspace {
  height: 73vh;
}
body{
  /* background-image: linear-gradient(180deg,#38d4fa,#c57a29,#860274); */
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  margin: 0;
  padding: 0;
  background-color: rgb(4, 6, 36);
}
.section {
  background-color: 0;
  height: 100vh;
  scroll-snap-align: start;
}
.container {
  height: 100vh;
  width: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  background: none;
}
