body{
  /* background-image: linear-gradient(180deg,#38d4fa,#c57a29,#860274); */
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  margin: 0;
  padding: 0;
  background-color: rgb(4, 6, 36);
}
