$container-width: 1250px;
$container-height: 650px;
$img-height: 580px;

.feature-container {
  display: flex;
  flex-direction: column;
  width: $container-width;
  height: $container-height;
  top: 150px;
  left: 300px;
  position: relative;
  .feature-screen-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $img-height;
    width: $container-width;
    overflow: hidden;
    background: #ff40002f;
    .feature-decorator-left {
      position: absolute;
      left: 0;
      top: 180px;
      z-index: 2;
      background-color: rgba(6, 172, 172, 0.877);
      width: 25px;
      height: 250px;
    }
    .feature-decorator-right {
      position: absolute;
      right: 0;
      top: 120px;
      z-index: 2;
      background-color: rgba(99, 1, 121, 0.831);
      width: 25px;
      height: 180px;
    }
    img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: $img-height;
      width: $container-width;
      object-fit: cover;
      opacity: 0.2;
      z-index: 1;
    }
  }
  // .feature-dots-container {
  //   bottom: 130px;
  //   left: 680px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: absolute;
  //   flex-direction: row;
  //   width: 200px;
  //   height: 60px;
  //   gap: 8px;

  //   .feature-btn-dot {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     position: relative;
  //     z-index: 2;
  //     height: 16px;
  //     width: 16px;
  //     border-radius: 50%;
  //     background: rgb(225, 107, 10);
  //     cursor: pointer;
  //     border: 2px solid #ccc;
  //     transition: all 0.3s ease-in-out;
  //   }
  //   .feature-btn-dot.active {
  //     background: rgb(0, 161, 241);
  //   }
  // }
  // .feature-bottom {
  //   position: absolute;
  //   height: 80px;
  //   width: 1533px;
  //   bottom: 50px;
  //   background: linear-gradient(180deg, #ac4e06 0%, #350148 100%);
  //   display: flex;
  //   flex-direction: column;
  //   z-index: 2;
  //   border: none;
  //   overflow: hidden;
  //   img {
  //     position: absolute;
  //     display: flex;
  //     z-index: 3;
  //     opacity: 0.1;
  //     object-fit: cover;
  //     width: 1533px;
  //     height: 80px;
  //   }
  // }
}
