.punch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  position: relative;
  margin-top: 40px;
  margin-left: 30vw;
  width: 30vw;

  .punch-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    color: white;
  }
  .punch-button{
    margin-top: 50px;
  }
  .punch-information{
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    color: white;
  }
}