.punch-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 380px;
  position: relative;
  top: 140px;
  margin-left: 280px;
  margin-bottom: 30px;
  width: 1250px;
  border-radius: 10px;
  background-color: #1a214a;

  .punch-left-container {
    display: flex;
    left: 42px;
    flex-direction: column;
    width: 600px;
    height: 310px;
    position: relative;

    .punch-rank {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 100px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      width: 600px;
      height: 180px;
      position: relative;
      border: 1px solid white;

      .punch-rank-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 180px;
        width: 300px;
        position: relative;
        gap: 5px;
        border: 1px solid white;

        .punch-rank-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-right: 20px;
          width: 170px;
          height: 28px;
          border-radius: 10px;
          background-color: #3c457b;
          color: white;
          cursor: pointer;
        }
      }
      .punch-rank-list:first-child {
        left: 10px;
        position: relative;
      }
      .punch-rank-list:last-child {
        right: 10px;
        position: relative;
      }
    }
    .punch-graph {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 150px;
      border: 1px solid white;
      position: relative;
      top: 5px;
    }
  }
  .punch-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 580px;
    height: 310px;
    left: 70px;
    border: 1px solid white;
    .punch-button {
      margin-top: 20px;
    }
    .punch-information {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
      color: white;
      position: relative;
    }
  }
}
